<!-- Register Modal -->
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Signup</h4>
</div>
<div class="modal-body">
  <form (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="reg_username" name="reg_username" placeholder="Username"
        [(ngModel)]="form.username" required>
      <label for="username">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="reg_email" name="reg_email" placeholder="Email Address"
        [(ngModel)]="form.email" required>
      <label for="email">Email Address</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="reg_password" name="reg_password" placeholder="Password"
        [(ngModel)]="form.password" required>
      <label for="password">Password</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="reg_password2" name="reg_password2" placeholder="Comfirm Password"
        [(ngModel)]="form.password2" required>
      <label for="password2">Comfirm Password</label>
    </div>
    <div *ngIf="isRegisterFailed" class="alert alert-danger">{{errorMessage}}</div>
    <div class="modal-footer" style="margin-top:30px;">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">Close</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>