<section class="banner banner1">
    <h3>CSS is the language we use to style an HTML document.</h3>

    <h6>CSS describes how HTML elements should be displayed.</h6>

</section>

<section class="banner home1">

    <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque sint totam, quibusdam quam autem dolores iure
        numquam iste temporibus cumque, fuga ratione voluptatem voluptate quo dolor soluta rerum illo atque. Quae
        numquam esse voluptatem consectetur delectus! Atque voluptatibus magnam suscipit nostrum error, ea adipisci vel
        exercitationem, assumenda modi excepturi dignissimos perspiciatis voluptas? Laboriosam esse, consequatur
        voluptates quisquam debitis magnam ipsam fugiat ab commodi quaerat nam itaque corrupti possimus asperiores
        culpa, minus odio voluptatum blanditiis repellendus assumenda odit, impedit distinctio. Praesentium ullam eius
        facere, nemo libero laborum minima. Facilis, officia culpa ab alias atque aliquam eaque nihil officiis error
        minus reiciendis eveniet quo, quia dolores incidunt saepe debitis qui veniam distinctio minima quibusdam
        repudiandae earum voluptates. Officiis quam ad soluta minus provident, nulla beatae eum, mollitia voluptas sit,
        numquam fugiat maiores laudantium nihil labore quibusdam reprehenderit modi eaque consectetur maxime dicta
        libero dolor sint! Vitae maxime ducimus reiciendis ex consequatur corporis, rerum eos in cupiditate laudantium
        expedita. Reiciendis blanditiis explicabo eius soluta odit consequatur temporibus voluptate non eos dolorum.
        Ducimus, veniam ex. Laudantium, eius quisquam quod autem libero fugit accusantium ratione aut. Quasi a
        consectetur laudantium facilis distinctio, dolorem sit recusandae rem nam eaque? Commodi praesentium labore
        mollitia rem quo saepe.</h6>
</section>

<section class="banner home2">

    <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi reiciendis aut consectetur quis repellat,
        impedit, consequuntur corrupti itaque facere accusantium ipsum ipsam blanditiis laborum hic possimus pariatur
        sapiente eius eum. Repellendus aliquid vitae cum quisquam blanditiis nam nisi repudiandae assumenda tenetur
        nesciunt eaque ullam dicta veniam quod accusamus aliquam recusandae atque eum magnam, illo odio tempora vero?
        Fugit laboriosam mollitia incidunt ducimus! Repellat, officia rerum in molestiae praesentium eligendi voluptatum
        voluptatibus fugit obcaecati placeat! Placeat, voluptatem perspiciatis nihil iusto dolor doloribus ab tenetur ex
        mollitia! Eius accusantium nostrum velit iste laboriosam, amet deleniti! Consectetur rerum deleniti consequuntur
        quia odio ab unde magnam illum at quibusdam nihil commodi ad harum dolorem accusamus velit rem neque excepturi,
        culpa sed nobis. Necessitatibus, esse velit maxime exercitationem corrupti, rerum soluta odio corporis,
        similique accusantium nisi voluptatum facere eveniet porro quaerat vitae natus! Sint neque, ipsa omnis
        temporibus ullam culpa officia esse alias explicabo vel accusantium cupiditate odio vitae iure aliquid commodi
        nisi? Unde aperiam quasi libero itaque porro sit culpa ipsa, odit natus possimus dicta, in aliquid odio fugiat
        quibusdam? Sequi ratione officia voluptates ipsa facere et corporis doloremque, nulla nemo reiciendis porro
        eligendi illo sed numquam similique architecto doloribus sapiente ullam tenetur minus!</h6>

</section>