<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky">
  <div class="container-fluid">
    <a class="navbar-brand  margin-right" routerLink="/home">{{username}}</a>
    <div class="navbar-collapse">
      <div class="navbar-nav me-auto mb-2 mb-lg-0">
        <a class="nav-link" routerLink="">Home</a>
        <a class="nav-link" routerLink="/contact">Contact</a>
        <a *ngIf="isAdmin()" class="nav-link" routerLink="/adminPage">Management</a>
      </div>
    </div>
    <div class="nav navbar-nav navbar-right">
      <button class="btn btn-secondary" type="button" (click)="onLogout()">logout</button>
    </div>
  </div>
</nav>