<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand margin-right" routerLink="/home">{{username}}</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin()">
          <a class="nav-link" routerLink="/adminPage">Management</a>
        </li>
      </ul>
    </div>
    <div class="nav navbar-nav navbar-right">
      <button class="btn btn-secondary" type="button" (click)="onLogout()">logout</button>
    </div>
  </div>
</nav>