<app-navbar></app-navbar>
<div class="adminBackground">
    <div class="div1">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Role</th>
                    <th scope="col">Email</th>
                    <th scope="col">Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.username}}</td>
                    <td>{{user.role.name}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <fa-icon (click)="onUpdate(user)" [ngStyle]="{'color':'#6495ED'}" [icon]="faPenSquare">
                        </fa-icon>
                        <fa-icon (click)="onDelete(user)" [ngStyle]="{'color':'#DC143C'}" [icon]="faTimes">
                        </fa-icon>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>