fa-icon {
  margin-right: 20px;
  margin-left: 10px;
}

.div1 {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  border-color: black;
  border-style: solid;
}

.btn-right {
  float: right;
}

.adminBackground {
  background-image: url(../../../assets/images/admin.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
}

td,
th {
  font-size: 20px;
  font-family: sans-serif;
  font-style: oblique;
}
