fa-icon {
  margin-right: 20px;
  margin-left: 10px;
}

select {
  width: 30%;
  margin-left: 70%;
  margin-bottom: 20px;
}

.div1 {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  border-color: black;
  border-style: solid;
}
